* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

:root {
  /*PRIMARY COLORS*/
  --modarete-blue: hsl(238, 40%, 52%);
  --soft-red: hsl(358, 79%, 66%);
  --grayish-blue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);

  /*NEUTRAL COLORS*/
  --dark-blue: hsl(212, 24%, 26%);
  --garyish-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);
  --white: #fff;

}

.app {
  height: 100vh;
  background-color: var(--very-light-gray);
  padding: 50px 0;
}

.comment-container {
  max-width: 700px;
  margin: 0 auto;
}

.comment-box {
  background: var(--white);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.comment-box .score-box {
  background: var(--light-gray);
  padding: 8px;
  color: var(--modarete-blue);
  font-weight: 900;
  width: max-content;
  display: grid;
  justify-items: center;
  gap: 5px;
  border-radius: 5px;
}

.plus,
.minus {
  cursor: pointer;
}

.score-box {
  font-size: 0.9rem;
}